table.trello {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}
table.trello th,
table.trello td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.trello .checkCol {
  overflow: visible;
  width: 30px;
}
table.trello .titleCol {
  width: 50%;
}
table.trello .listCol {
  min-width: 60px;
}
table.trello .stateCol {
  min-width: 60px;
}
#context-menu {
  position: absolute;
  display: none;
}
#context-menu li {
  padding: 5px 10px 5px 10px;
}
#context-menu.open {
  display: block;
}
