table.trello {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .checkCol {
        overflow: visible;
        width:  3%;
    }
    .nameCol  { width: 60% }
    .listCol  { width: 17% }
    .stateCol { width: 8% }
    .dueCol   { width: 7% }
}