table.trello {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;

    th, td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .checkCol {
        overflow: visible;
        width: 30px;
    }
    .titleCol { width: 50% }
    .listCol  { min-width: 60px }
    .stateCol { min-width: 60px }
}

#context-menu {
    position: absolute;
    display: none;
    li    { padding: 5px 10px 5px 10px }
}
#context-menu.open { display: block; }
